.container {
  margin-top: 30px;
  float: left;
  margin-left: 5px;
  width: 98vw;
}

.littleContainer {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  height: 100%;
}

.cocktailspageLittleContainer {
  margin: 20rem 0 0 0;
}

a {
  text-decoration: none;
  color: slategrey;
  font-size: 1.2em;
}

.miniContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 16px;
  width: 220px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.effectContainer {
  position: relative;
  width: 100%;
}

.imgDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 320px;
}

.img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.h1Text {
  color: slategray;
  font-family: "Times New Roman", Sans-serif;
  font-size: 29px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.cocktailspageH1 {
  margin: 0 0 -17rem 0;
}

.middle {
  background-color: black;
  opacity: 0;
  transition: .5s ease;
  border-radius: 30px;
  width: 85%;
  margin-top: 0.2rem;
}

.effectContainer:hover .middle {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 0 16px 0;
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
  }

  .cocktailspageH1 {
    margin: -60rem 0 -20rem 0;
  }

  .categoryPageH1 {
    margin: -60rem 0 0 0;
  }
  .img {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .cocktailspageH1 {
    margin: -10rem 0 -20rem 0;

  }

  .categoryPageH1 {
    margin: -10rem 0 0 0;

  }
}

@media screen and (max-width: 540px) {
  .cocktailspageH1 {
    margin: -15rem 0 -20rem 0;

  }

  .categoryPageH1 {
    margin: -13rem 0 0 0;

  }
}

@media screen and (width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    margin-right: 200px;
  }

  .h1Text {
    margin-top: -15rem;
  }

  .img {
    width: 100%;
    height: 250px;
  }
}


@media screen and (max-width: 393px) {
  .cocktailspageH1 {
    margin: -13rem 0 -20rem 0;

  }
}