.container {
    margin-top: 30px;
    float: left;
    margin-left: 5px;
    width: 98vw;

}

.littleContainer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 75vw;
    height: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: slategrey;
    font-size: 1.2em;
}

.miniContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 100%;
}

.h1Title {
    color: slategray;
    font-family: "Times New Roman", Sans-serif;
    font-size: 29px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-right: 350px;
}

.imgDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeImg {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(32, 32, 32);
    margin-bottom: 0.2rem;
}


/*effects*/
.effectContainer {
    position: relative;
    width: 100%;
}

.middle {
    background-color: black;
    opacity: 0;
    transition: .5s ease;
    border-radius: 30px;
    margin-bottom: 1rem;
    width: 85%;
}

.effectContainer:hover .middle {
    opacity: 0.7;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/*@Media*/
@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 98vw;
    }

    .homeImg {
        width: 90%;
        height: 250px;
    }

    .h1Title {
        margin-right: 0px;
        margin-top: 0px;
        margin: -40rem 0 3rem 0;

    }

    .newestTitile {
        margin: 0 0 0 0;

    }
}



@media screen and (max-width: 768px) {
    .h1Title {
        margin-right: 0px;
        margin-top: 0px;
        margin: -10rem 0 3rem 0;

    }

}

@media screen and (max-width: 540px) {
    .h1Title {
        margin-right: 0px;
        margin-top: 0px;
        margin: -33rem 0 2rem 0;

    }

    .newestTitile {
        margin: 0 0 0 0;

    }

}



@media screen and (max-width: 414px) {
    .container {
        margin-left: 5%;
    }

    .homeImg {
        width: 70%;
        height: 200px;

    }
}

@media screen and (width: 360px) {
    .h1Title {

        margin: -5rem 0 2rem 0;

    }


}

@media screen and (min-width: 820px) {

    .littleContainer {
        width: 70vw;
    }
}


@media screen and (min-width: 900px) and (max-width: 1150px) {
    .homeImg {
        width: 390px;
    }
}