html, body{
    min-height: 100%;
}

.sidebarContainer{
    margin-top: 2%;
    float: right;
    margin-right: 30px;
    width : 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width : 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 20px 20px rgb(32, 32, 32);
}

.title{
    color: slategray;
    font-family: "Times New Roman",Sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 20px; 
}

input{
    width: 200px;
}

.cocktailsImg1{
    margin-top: 3rem;
}

.cocktailsImg2{
    width: 250px;
    height: 200px;
}


/*@Media*/
@media screen and (max-width: 900px) {
    .sidebarContainer{
        float:none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
      margin-right: 0;
      width: 100vw;
    }

    input{
        min-width: 200px;        
    }

    .searchbar{
        width: 30%;
    }
}

