html, body{
    min-height: 100%;
}


.container{
    margin-top: 2%;
    float: right;
    margin-right: 30px;
    width : 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img{
    /* margin-top: 10%; */
    width : 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 20px 20px rgb(32, 32, 32);
}



.title{
    color: slategray;
    font-family: "Times New Roman",Sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 20px; 
}


input{
    width: 200px;
}


.cocktailsImg1{
    /* margin-top: 22%; */
    margin-top: 3rem;

}
.cocktailsImg2{
    width: 250px;
    height: 200px;
}




/*@Media*/
@media screen and (max-width: 768px) {

    input{
        min-width: 200px;        
    }

    .container{
        margin-top: 0px;
        margin-right: 10px;
  
    }

}



/*Extra*/
@media screen and (max-width: 768px) {
    .container{

      margin-bottom: -450px;
  
    }
}


@media screen and (max-width: 540px) {
    .container{

      margin-bottom: -100px;
  
    }
}

@media screen and (width: 400px) {
    .container{
      margin-bottom: -280px;
    }
}

@media screen and (width: 412px) {
    .container{
      margin-bottom: -350px;
    }
}

@media screen and (width: 414px) {
    .container{
      margin-bottom: -350px;
    }
}

@media screen and (width: 390px) {
    .container{
      margin-bottom: -300px;
    }
}
@media screen and (width: 393px) {
    .container{
      margin-bottom: -300px;
    }
}