html,
body {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}


.footerContainer {
  width: 100vw;
  color: black;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-top: 2px solid grey;
  text-transform: uppercase;
  margin: auto;
}


.smallContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerminiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialsContainer {
  display: flex;
  padding-left: 0.2rem
}

li {
  list-style-type: none;
}

.followus {
  color: black;
  margin-right: 0.5rem;
}

.facebook {
  width: 35px;
}

.twitter,
.Instagram {
  width: 40px;
}

.copyright {
  border-top: 1px solid grey;
  font-weight: bolder;
}


.facebook:hover,
.twitter:hover,
.Instagram:hover {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  .socialList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .socialsContainer {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    align-items: center;
  }
}